# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Django uploads
media/

# Test caches
.pytest_cache/
.mypy_cache/

# models
netflix_recommender/artifacts/
*.pkl
